[mysqld]

# GENERAL #
user                            								= mysql
default_storage_engine											= InnoDB
socket                          								= /var/run/mysqld/mysqld.sock
pid_file                        								= /var/run/mysqld/mysqld.pid
port                            								= 3306
tmpdir                          								= /var/tmp/mysql 
character_set_server            								= utf8
#default_character_set          								= utf8
collation_server                								= utf8_general_ci
lc_messages_dir                 								= /usr/share/mysql/english
event_scheduler													= off
sql_mode                        								= NO_ENGINE_SUBSTITUTION
								
								
								
#### RECOVERY OPTIONS ####								
#### DO NOT UNCOMMENT ####								
# skip-networking								
# innodb-force-recovery         								= 0
##########################								
								
# MyISAM #								
key_buffer_size                 								= 150M
myisam_sort_buffer_size         								= 8M
								
# SAFETY #								
max_allowed_packet              								= 100M
skip-name-resolve												= ON
skip-external-locking											= ON
transaction_isolation           								= READ-COMMITTED
								
# DATA STORAGE #								
datadir                         								= /var/lib/mysql
								
# BINARY LOGGING #								
log_bin															= /var/log/mysql/cdrndbpr55-bin 
#log                            								= /var/log/mysql/cdrndbpr55-log
#log-slow-queries               								= /var/log/mysql/cdrndbpr55-slow-query
relay_log                       								= /var/log/mysql/cdrndbpr55-relay
binlog_format                   								= mixed
log_slave_updates												= ON
expire_logs_days                								= 0
basedir                         								= /usr
								
# REPLICATION #								
server_id                       								= 241
read_only                       								= false
federated														= ON
report_port														= 3306
report_host														= cdrndbpr55
auto_increment_offset           								= 1
auto_increment_increment        								= 2
master_info_repository          								= TABLE
relay_log_info_repository       								= TABLE
relay_log_recovery              								= ON
skip_slave_start												= ON
skip-symbolic-links             								= YES
slave_skip_errors												= 1062
slave_type_conversions          								= ALL_NON_LOSSY
slave_transaction_retries 										= 100

# Special options for CDRN...
replicate-ignore-table											= cdrn_drupal.cache
replicate-ignore-table											= cdrn_drupal.cache_block
replicate-ignore-table											= cdrn_drupal.cache_bootstrap
replicate-ignore-table											= cdrn_drupal.cache_filter
replicate-ignore-table											= cdrn_drupal.cache_image
replicate-ignore-table											= cdrn_drupal.cache_libraries
replicate-ignore-table											= cdrn_drupal.cache_page
replicate-ignore-table											= cdrn_drupal.cache_path
replicate-ignore-table											= cdrn_drupal.cache_token
replicate-ignore-table											= cdrn_drupal.cache_views
replicate-ignore-table											= cdrn_drupal.cache_views_data
replicate-ignore-table											= cdrn_drupal.cache_menu
replicate-ignore-table											= cdrn_drupal.semaphore
replicate-ignore-table											= cdrn_drupal.sessions
								
# CACHES AND LIMITS #								
tmp_table_size                  								= 512M 
max_heap_table_size             								= 512M 
max_connections                 								= 700
thread_cache_size               								= 50
open_files_limit												= 5000
#table_cache                    								= 4000
table_definition_cache											= 10000
table_open_cache												= 6000
net_buffer_length               								= 16K
## per-connection resource allocation
sort_buffer_size                								= 4M
read_buffer_size                								= 2M
read_rnd_buffer_size            								= 2M
group_concat_max_len											= 1024000

# This is a temporary workaround for network issues
net_read_timeout												= 60
connect_timeout													= 30

# INNODB #
innodb_data_home_dir											= /var/lib/mysql/
innodb_data_file_path											= ibdata1:1G:autoextend:max:10G
innodb_log_group_home_dir										= /var/lib/mysql
innodb_flush_method												= O_DIRECT
innodb_log_buffer_size											= 16M
innodb_log_files_in_group       								= 2
innodb_log_file_size            								= 250M
innodb_flush_log_at_trx_commit  								= 1
innodb_file_per_table											= ON
innodb_buffer_pool_size											= 150G
innodb_buffer_pool_instances									= 8
innodb_thread_concurrency       								= 8
innodb_lock_wait_timeout        								= 120
innodb_open_files               								= 500
innodb_rollback_on_timeout      								= ON
innodb_read_io_threads											= 4
innodb_write_io_threads											= 4
innodb_io_capacity												= 200
innodb_strict_mode												= OFF

# LOGGING #
log_error                       								= /var/log/mysql/mysqld.err
log_warnings                    								= 2
query_cache_size												= 200M
query_cache_limit												= 512K
innodb_file_format												= Barracuda
innodb_support_xa												= 0
log_bin_trust_function_creators 								= ON
log_queries_not_using_indexes									= 0 
secure_file_priv                								= /opt/mysql_in_files
slow_query_log													= 1
slow_query_log_file             								= /var/log/mysql/cdrndbpr55-slow.log
long_query_time													= 1
log_output														= TABLE


# ED25519 Plugin 
[mariadb]
plugin_load_add													= auth_ed25519

[mysqld_safe]
log_error														= /var/log/mysql/mysqld_safe.err

[client]
port															= 3306
socket															= /var/run/mysqld/mysqld.sock

[mysql]
port															= 3306
socket															= /var/run/mysqld/mysqld.sock
character-sets-dir												= /usr/share/mysql/charsets
default-character-set											= utf8

[mysqladmin]
character-sets-dir												= /usr/share/mysql/charsets
default-character-set											= utf8

[mysqlcheck]
character-sets-dir												= /usr/share/mysql/charsets
default-character-set											= utf8

[mysqlimport]
character-sets-dir												= /usr/share/mysql/charsets
default-character-set											= utf8

[mysqlshow]
character-sets-dir												= /usr/share/mysql/charsets
default-character-set											= utf8

[myisampack]
character-sets-dir												= /usr/share/mysql/charsets

[mysqldump]
quick
socket															= /var/run/mysqld/mysqld.sock
max_allowed_packet												= 1GB
character-sets-dir												= /usr/share/mysql/charsets
default-character-set											= utf8

[isamchk]
key_buffer														= 20M
sort_buffer_size												= 20M
read_buffer														= 2M
write_buffer													= 2M

[myisamchk]
character-sets-dir												= /usr/share/mysql/charsets
key_buffer														= 20M
sort_buffer_size												= 20M
read_buffer														= 2M
write_buffer													= 2M

[mysqlhotcopy]
interactive-timeout


!includedir /etc/mysql/conf.d/